:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255);

    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #181818;

}

html {
    overflow-y: scroll;
}