.editJobTitle {
    color: #ccc;
    text-align: center;
    margin: 1rem 0;
}

.loadingJobContainer,
.errorJobContainer {
    width: 75%;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 5rem;
    border-radius: 5px;
    gap: 1rem;

    .errorJobButton {
        padding: 0.5rem;
        border: 1px solid black;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 600;
        color: #ccc;
        background-color: #33680a;
        &:hover {
            background-color: #96c671;
            color: #5c5c5c;
        }
    }
}
