.jobPageTitle {
    color: #ccc;
    text-align: center;
    margin: 1rem 0;
}

.formJob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: auto;
    width: 70%;
    background-color: #181818;
    padding: 2rem;
    border-radius: 5px;

    .salariesContainer {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .formSalary {
            flex-direction: row;
            justify-content: center;
            align-items: center;

            label {
                width: 100%;
            }

            input {
                margin: 0;
            }
        }
    }

    .buttonsContainers {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .searchButton,
        .cleanButton {
            padding: 0.5rem;
            border: 1px solid black;
            border-radius: 5px;
            background-color: #f1f1f1;
            cursor: pointer;
            width: 9rem;
            font-weight: 600;
            color: #ccc;
        }

        .searchButton {
            background-color: #33680a;
            &:hover {
                background-color: #96c671;
                color: #5c5c5c;
            }
        }
        .cleanButton {
            background-color: #8c0b0b;
            &:hover {
                background-color: #e06b6b;
                color: #5c5c5c;
            }
        }
    }

    .includeExternalContainer {
        display: flex;
        justify-content: end;
    }
}
